*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

$color-red: #ce1b28;
$color-dark: #111111;
$text-dark: #555555;
$text-ligth: #ffffff;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  color: #ffffff;
  width: 100%;
  height: 40px;
}

header h1 {
  font-size: 15px;
  margin: auto;
  list-style: none;
  margin-left: 20px;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  align-items: right;
  justify-content: center;
  gap: 5px;
}

.article{
    background-image:linear-gradient(to right,rgba(143, 45, 45, 0.35), rgba(80, 72, 72, 0.35)), url('banner2.jpg');
    background-size: cover; 
    height:20em;
    background-position: center bottom;
    color: $text-ligth;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

.cta{
    background-image:linear-gradient(rgba(182, 39, 39, 0.444)), url('cta01.jpg');
    background-size: cover; 
    height:20em;
    color: $text-ligth;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

article p{
    padding: 0 20%;
    align-items: center;
    text-align: center;
}

main{
    position: relative;
    background-image:linear-gradient( rgba(255, 252, 252, 0.905)), url('bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: $text-dark;
    width: 100%;
    height: 30em;
}

main h2{
    margin-top: 20px;
}

.bloc{
    background-color: white;
    border-radius: 3px;
    width:15em;
}

.footer{
    background-color: $color-dark;
    width: 100%;
    height: 10em;
}